body {
    background-color: rgb(0, 0, 0);
  }
  
  :root {
    font-size: 16px;
  }
  
  h1 {
    font-family: "Roboto";
    font-size: 3.5rem;
    color: #f3edeb;
    letter-spacing: 0.1em;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.53);
    text-align: center;
  }

  h2 {
    font-family: "Roboto";
    font-size: 2rem;
    color: #f3edeb;
    letter-spacing: 0.05em;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #f3edeb;

  }

span {
    font-weight: bold;
    background-color: grey;
    font-size: 1.2rem;
  }

div {
    text-align: center;
    position: absolute;
    text-align: center;
    top: 80%;
    left:10%;
    width: 80%;
  }


@media (max-width: 1024px) and (min-width: 668px)  {
    div {
        top: 45%;
        left:5%;
        width: 90%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

}

@media (max-width: 668px) {
 div {
    text-align: center;
    position: absolute;
    text-align: center;
    top: 40%;
    left:5%;
    width: 90%;
    }

 h1 {
     font-size: 2rem;
    }

h2 {
    font-size: 1.2rem;
    }

p {
    font-size: 0.9rem;
    }
}