body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: lightblue;
}

main {
  padding: 10px;
  flex-grow: 1;
}

footer {
  height: 50px;
  background-color: lightblue;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 2rem;
}

.card {
  background-color: rgb(249, 227, 227);
  padding: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.pagination {
  margin-top: 15px;
}