*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7fbfb;
}

.app {
  padding: 1.5rem;
  background-color: #fff;
  /* border: 1px solid red; */
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  border-radius: 8px;
}

.list-description {
  margin: 1.5rem 0 2rem 0;
}

ul {
  margin: 0rem;
  list-style-type: none;
}

li {
  margin-bottom: 1rem;
}

.endpoint-description {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.endpoint-url {
  display: inline-block;
  font-style: italic;
  color: blue;
  border-bottom: 2px solid greenyellow;
  padding: 0.2rem;
  text-decoration: none;
}

.endpoint-url:hover {
  cursor: pointer;
  background: rgba(255, 255, 0, 1);
  padding: 0.2rem;
  transition: background 300ms ease-in-out;
}

.endpoint-url:visited {
  color: blue;
}
