.Navbar {
  background-color: #41402F;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.logo-title {
  display: flex;
}

.logo-title h1 {
  color: #C8BE86;
  margin: 0;
}

.Navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.Navbar li {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-right: 30px;
}

.Navbar li a {
  display: block;
  color: #C8BE86;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
}

.Navbar li a:hover {
  color: #ece5be;
}

.Navbar img {
  height: 30px;
  margin-right: 10px;
}

.UnderMenu {
  display: flex;
  justify-content: space-evenly;
}

.UnderMenu a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f1e9d3;
  padding: 5px;
  margin: 0 5px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}